


h1 {
	font-size: xx-large;
}


section h2 {
	font-size: large;
	padding: 0.277em 0;
	border-bottom: 2px solid #1183D1;
}

section p {
	font-size: medium;
	padding: 0.3125em 0;
	border-bottom: 1px solid #F3F3F3;
}











